* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
}

/*////////NAVIGATION///////*/
nav {
  width: 100%;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(31, 31, 31);
  position: absolute;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.sticky {
  position: fixed;
  background-color: rgb(31, 31, 31, 0.98);
}
.nav {
  z-index: 10000;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
  margin-right: 1.5rem;
}
.github-icon {
  padding: 0.8rem 0 0.8rem 1.4rem;
  width: 8rem;
  transition: all 0.3s;
}
.github-icon:hover {
  transform: scale(1.05);
}
li {
  transition: all 0.3s;
}
li:hover {
  transform: scale(1.1);
}
.link {
  text-decoration: none;
  color: #fff;
}

/*////////WELCOME SECTION///////*/

.welcome-section {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-color: #e9d5a1;
  color: #333;
}

.welcome-div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.programing-icon {
  width: 10rem;
}

.my-name {
  font-size: 2.2rem;
  margin: 0.5rem 0 1rem;
}

.front-text {
  font-size: 1.4rem;
  min-height: 2rem;
}

.flags {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1rem;
}
.flag {
  width: 4rem;
  height: 2.2rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  cursor: pointer;
}

.contrast {
  filter: brightness(0.3);
}

.flag:hover {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  transform: scale(1.06);
}

/*/ ///////ABOUT ME SECTION///////*/
.about-me-section {
  background-color: #fff;
  color: #222;
  padding: 0 4rem 8rem;
}

.heading {
  padding: 4rem 0 2.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.div-about-me {
  padding-top: 2rem;
  max-width: 95rem;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;
}

.my-picture {
  justify-self: right;
  width: 20rem;
  padding: 1rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, #f8f2e3, #f0e2bd);
  border-radius: 1rem;
  padding: 3rem;
  max-width: 60rem;
  width: 100%;
}

.about-me-buttons {
  display: flex;
  gap: 2rem;
}
.about-me-button {
  border-radius: 0.5rem;
  border: 1px solid #e9d5a1;
  font-size: 1.4rem;
  padding: 0.6rem 1.4rem;
  transform: translateY(-150%);
  background-color: #fff;
  color: #333;

  cursor: pointer;
}
.ul-info {
  display: grid;
  justify-content: center;
  text-align: left;
  align-items: center;
  grid-template-columns: 1fr 6fr 25fr;
  gap: 1rem;
  font-size: 1.2rem;

  margin-bottom: 2rem;
}
.about-me-icons {
  height: 1.2rem;
}
.download-btn {
  border: 0.5px solid #111;
  color: #111;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: none;
}
.download-btn-link {
  text-decoration: none;
  color: #333;
}
/*/ ///////SKILLS SECTION///////*/
.skills-section {
  background-color: #1f1f1f;
  padding-bottom: 2rem;
}
.heading-skills {
  color: #fdfbf6;
}

.div-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fdfbf6;
  text-transform: uppercase;
}
.div-skills-logos {
  padding: 2rem 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logo {
  width: 5rem;
  height: auto;
}
/*////////PROJECT SECTION///////*/
.projects-section {
  background-color: #edddb4;
}
.heading-project {
  color: #333;
}

.div-projects {
  margin: 0 auto;
  padding: 2rem 2rem 5rem;
  max-width: 70rem;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
}

.div-project {
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fbf7ec;
  width: 20rem;
  height: 15rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.visible {
  transform: scale(1);
}

.div-project:hover {
  transform: scale(1.04);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.project-icon {
  width: 10rem;
  margin-bottom: 0.8rem;
}

.project-name {
  font-size: 1.2rem;
  font-weight: 500;
}

/*/ ///////FOOTER///////*/
footer {
  width: 100%;
  padding: 1.5rem 0 1rem;
  background-color: #333; /*Kasnije promjenit*/
}
.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.footer-logo {
  width: 2.4rem;
  transition: all 0.2s;
}
.footer-logo:hover {
  transform: scale(1.1);
}
.footer-text {
  font-size: 0.75rem;
  margin-top: 1rem;
  color: #fff;
  text-align: center;
}
.section-hidden {
  opacity: 0;
  transform: translateY(3rem);
}
.section {
  transition: transform 0.8s, opacity 1s;
}
